
body {
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    margin-top: 69px;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 50px;
    margin-left: 10px;
    margin-top: 9px;
}

nav {
   float: right;
   display: flex;
   justify-content: space-evenly;
   margin-right: 10px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    text-decoration: underline;
    margin: 0 10px;
}

nav a {
    color: seashell;
}

#mission {
    height: 700px;
    width: 90%;
    background-image: url("../images/img-mission-background.webp");
    background-size: cover;
    margin: auto;
}

.mission-text {
    background-color: black;
    position: absolute;
    top: 300px;
    width: 90%;
}

#month {
    width: 80%;
    margin: auto;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.prod {
    margin: 0 15px;
}

.products img {
    height: 200px;
    width: 300px;
    margin-bottom: -10px;
}

#locations {
    height: 500px;
    width: 90%;
    background-image: url("../images/img-locations-background.jpg");
    background-size: cover;
    margin: 30px auto 0;
}

.loctext {
    padding: 30px;
}

.card-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    width: 275px;
    opacity: 1;
    background-color: black;
    margin: 10px 20px;
    border-radius: 8px;
    height: 275px;
}

#contact {
    padding: 40px;
    height: 200px;
}

footer {
    text-align: left;
    margin-left: 20px;
    margin-top: -50px;
}

@media only screen and (max-width: 1100px) {
    #locations {
        height: 750px;
    }

    #mission {
        height: 500px;
    }

    .mission-text {
        top: 300px;
    }
}

@media only screen and (max-width: 783px) {
    #locations {
        height: 1020px;
    }

    #mission {
        height: 400px;
    }

    .mission-text {
        top: 500px;
    }

    body {
        margin-top: 200px;
    }

    header {
        display: block;
        height: 200px;
    }
    
    .logo {
        margin-right: 0;
    }
    
    .logo img {
        height: 50px;
        margin-left: 10px;
        margin-top: 9px;
    }
    
    nav {
       float: none;
       display: block;
       margin-right: 0px;
       margin-top: -10px;
    }
    
    nav li {
        display: block;
        margin: 8px 0;
    }
}